<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Over The Monkey</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class="container">
      <a id="brand" href="/">overTHEmonkey</a>
      <ul>
        <li><a class="{{ page == "home" ? 'active' }}" href="/">Home</a></li>
        <li><a class="{{ page == "resume" ? 'active' }}" href="/resume">Résumé</a></li>
        <li><a class="{{ page == "portfolio" ? 'active' }}" href="/portfolio">Portfolio</a></li>
        <li><a class="{{ page == "blog-list" or page == "blog-post" ? 'active' }}" href="/blog">Blog</a></li>
      </ul>
    </nav>

    <div id="main">
    {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="container">
        <p>Made by <a href="https://github.com/nubs">Spencer Rinehart</a> using <a href="http://php.net/">PHP</a>, the <a href="http://auraphp.com/">Aura Project</a>, <a href="http://getbootstrap.com/">Twitter Bootstrap</a>, and <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>.</p>
        <p>Website source is licensed under the <a href="http://opensource.org/licenses/MIT">MIT</a> license and available on <a href="https://github.com/nubs/overthemonkey.com">GitHub</a>.</p>
      </div>
    </footer>
  </body>
</html>
