{% extends "base.twig" %}
{% block title %}Blog{% endblock %}
{% block content %}
<div class="container">
  <header>
    <h1>Blog Entries</h1>
    <p class="lead">A small collection of technology-related blog entries.</p>
  </header>
  {% for post in posts %}
    {% include "blog/#{post}.twig" with {"synopsis": true} %}
  {% endfor %}
</div>
{% endblock %}
