{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h1>Spencer Rinehart</h1>
          <p class="lead">Spencer is a PHP software developer.  He foo's and bar's and baz's his qux's.  He is a frood who really knows where his towel is.  Bacon ipsum dolor sit amet pork bresaola rump shoulder salami andouille tenderloin landjaeger shank capicola shankle prosciutto tongue flank. Drumstick hamburger pig pancetta tenderloin, boudin meatball ground round frankfurter tongue. Capicola drumstick venison ham shankle, tri-tip pig tenderloin frankfurter. Strip steak jowl pig frankfurter.</p>
        </div>
        <div class="col-sm-3">
          <div id="avatar">
            <img class="img-thumbnail" src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240">
            <div class="caption">
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/nubsnubs"><i class="fa fa-twitter"></i>&nbsp;@nubsnubs</a></li>
                <li><a href="https://github.com/nubs"><i class="fa fa-github"></i>&nbsp;@nubs</a></li>
                <li><a href="mailto:anubis@overthemonkey.com"><i class="fa fa-envelope"></i>&nbsp;anubis@otm</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
