{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h1>Spencer Rinehart</h1>
          <p class="lead">Spencer is a PHP software developer with more than ten years of experience.  He lives in the Norfolk area of Virginia where he works for Dominion Enterprises as a Web Programmer and DevOps Engineer.  Outside of work he spends his time with his wife and son and contributes to the open-source world, racking up hundreds of commits every year.</p>
        </div>
        <div class="col-sm-3">
          <div id="avatar">
            <img class="img-thumbnail" src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240">
            <div class="caption">
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/nubsnubs"><i class="fa fa-twitter"></i>&nbsp;@nubsnubs</a></li>
                <li><a href="https://github.com/nubs"><i class="fa fa-github"></i>&nbsp;@nubs</a></li>
                <li><a href="mailto:anubis@overthemonkey.com"><i class="fa fa-envelope"></i>&nbsp;anubis@otm</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
