{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
  <header id="home">
    <div class="container">
      <div>
        <h1>Spencer Rinehart</h1>
        <p class="lead">I am a senior full-stack Node.js and DevOps software engineer with more than fifteen years of experience. I live in Austin, Texas where I work for <a href="https://key.co">KEY.co</a> as the Director of Engineering. Outside of work I enjoy spending my time camping with my wife and son and contributing to various open-source projects.</p>
      </div>

      <div id="avatar">
        <img src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240" alt="A headshot of Spencer">
        <ul class="fa-ul">
          <li><a href="https://twitter.com/nubsnubs"><i class="fa fa-li fa-twitter"></i>&nbsp;@nubsnubs</a></li>
          <li><a href="https://github.com/nubs"><i class="fa fa-li fa-github"></i>&nbsp;@nubs</a></li>
          <li><a href="mailto:anubis@overthemonkey.com"><i class="fa fa-li fa-envelope"></i>&nbsp;anubis@otm</a></li>
        </ul>
      </div>
    </div>
  </header>
{% endblock %}
