{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h1>Spencer Rinehart</h1>
          <p>Spencer is a PHP software developer.</p>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img class="img-thumbnail" src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240">
            <div class="caption">
              <h2><a href="https://twitter.com/nubsnubs">@nubsnubs</a></h2>
              <a href="https://twitter.com/nubsnubs">TW</a>
              <a href="https://github.com/nubs">GH</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
