{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h1>Spencer Rinehart</h1>
          <p class="lead">I am a PHP and Node.js software developer and a full stack engineer with more than ten years of experience.  I live in Austin, Texas where I work for <a href="http://help.com">Help.com</a> as a Software Engineer.  Outside of work I spend my time with my wife and son and I contribute to the open-source world, racking up more than 1,000 commits per year.</p>
        </div>
        <div class="col-sm-3">
          <div id="avatar">
            <img class="img-thumbnail" src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240">
            <div class="caption">
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/nubsnubs"><i class="fa fa-twitter"></i>&nbsp;@nubsnubs</a></li>
                <li><a href="https://github.com/nubs"><i class="fa fa-github"></i>&nbsp;@nubs</a></li>
                <li><a href="mailto:anubis@overthemonkey.com"><i class="fa fa-envelope"></i>&nbsp;anubis@otm</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
