{% extends "base.twig" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Portfolio</h1>
    <p class="lead">This is a list of my favorite projects that I have created.  All of these are licensed under the <a href="https://tldrlegal.com/license/mit-license">MIT License</a> and available on GitHub.  For more of my work, you can browse my full open source history on <a href="https://github.com/nubs">GitHub</a>.</p>
    <div class="list-group">
      <a href="https://github.com/nubs/vectorix" class="list-group-item">
        <h3 class="list-group-item-heading">Vectorix</h3>
        <p class="list-group-item-text">Vectorix is an object-oriented PHP Euclidean vector library supporting arbitrary dimensions.</p>
      </a>
      <a href="https://github.com/nubs/random-name-generator" class="list-group-item">
        <h3 class="list-group-item-heading">Random Name Generator</h3>
        <p class="list-group-item-text">This is a PHP library for generating random names.  It currently includes a video game name generator.</p>
      </a>
      <a href="https://github.com/nubs/geometron" class="list-group-item">
        <h3 class="list-group-item-heading">Geometron</h3>
        <p class="list-group-item-text">Geometron is a work in progress, object-oriented Geometry library written in PHP.</p>
      </a>
      <a href="https://github.com/nubs/sensible" class="list-group-item">
        <h3 class="list-group-item-heading">Sensible</h3>
        <p class="list-group-item-text">Sensible is a work in progress PHP library for accessing a user's preferred editor, pager, and browser.</p>
      </a>
      <a href="https://github.com/nubs/which" class="list-group-item">
        <h3 class="list-group-item-heading">Which</h3>
        <p class="list-group-item-text">Which is a PHP library for locating commands in your PATH, similar to the shell built-in <code>which</code>.</p>
      </a>
      <a href="https://github.com/nubs/bizgolf" class="list-group-item">
        <h3 class="list-group-item-heading">Bizgolf</h3>
        <p class="list-group-item-text">Bizgolf is a proof-of-concept code golf library for PHP based on Docker.</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
