{% extends "base.twig" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<div class="container">
  <header>
    <h1>Portfolio</h1>
    <p class="lead">This is a list of my favorite projects that I have created. All of these are licensed under the <a href="https://tldrlegal.com/license/mit-license">MIT License</a> and available on GitHub. For more of my work, you can browse my full open source history on <a href="https://github.com/nubs">GitHub</a>.</p>
  </header>

  <a href="https://github.com/nubs/vectorix">
    <h2>Vectorix</h2>
    <p>Vectorix is an object-oriented PHP Euclidean vector library supporting arbitrary dimensions.</p>
  </a>
  <a href="https://github.com/nubs/random-name-generator">
    <h2>Random Name Generator</h2>
    <p>This is a PHP library for generating random names. It currently includes a video game name generator.</p>
  </a>
  <a href="https://github.com/nubs/geometron">
    <h2>Geometron</h2>
    <p>Geometron is a work in progress, object-oriented Geometry library written in PHP.</p>
  </a>
  <a href="https://github.com/nubs/sensible">
    <h2>Sensible</h2>
    <p>Sensible is a work in progress PHP library for accessing a user's preferred editor, pager, and browser.</p>
  </a>
  <a href="https://github.com/nubs/which">
    <h2>Which</h2>
    <p>Which is a PHP library for locating commands in your PATH, similar to the shell built-in <code>which</code>. It supports both POSIX systems and Windows.</p>
  </a>
  <a href="https://github.com/nubs/which-cli">
    <h2>Which CLI</h2>
    <p>Which CLI is a command wrapper around which. It closely imitates the shell built-in <code>which</code>.</p>
  </a>
  <a href="https://github.com/nubs/bizgolf">
    <h2>Bizgolf</h2>
    <p>Bizgolf is a proof-of-concept code golf library for PHP based on Docker.</p>
  </a>
  <a href="https://github.com/nubs/garble">
    <h2>garble.js</h2>
    <p>garble.js is a text garbler that uses unicode to make text ḩ̵̠̰͖̯̘͎͒̋̅̀̔ͨ̈́̄ͬ̓͠͝͞ạ̶̡̨̛̺̭̣͕̪͍̘̳̪̀͌̊̍̉̀̈́̚͞r̸̡̬̬̗̲̮̥̯͙̱̩͙͓ͤͩ́ͬͭ̅̓͜͢ḓ̨̳͖͕̖͈̥̓̑̊̄̒̊ͪ̂͂̔̂ͤ̆̾ͮ̐̿̚ ̷̢̡͔̪̝̥̥͓͉͎̖̗̾̎̀̋ͩͥͭͦ͊̄̈́̈̕ͅţ̵̸̸̸̼̭̯̭̜̻̳̭̝͈͒̈̒͂̑̈̄͊̃͜o̸̡̙̪͎͕͍͙͕͚ͮͦ̓͒̂ͩͨ̓͑ͧͧ̏̔͢͠ ̵̷̨̲͍̮̣̮̱̠̜̪̬͂ͧ̉̿ͮ̓̉̏̍̄ͯ͗̈ͧ̕͢r̵͈͙̺̝̺͖̥̼̲̦͒̾͆̐ͧ̂̎̾̓͛̅̽̑͏̵̢̀e̵̡̺̩̰̩̙͉̪͎͉̦̬͍̮ͧ̄̇ͣͧ̓̃̄̂̃͢͟͞ã̵̷̷̡̨̛͇͎̮̗̪͐̾̃̃̈ͪ͢͢͢͟͠d̴̡͈͎̙͈͕̙̆̂͒̄̏ͨͫ̌ͫͥ̐ͫ̿ͅ.</p>
  </a>
  <a href="https://github.com/nubs/npm-slack">
    <h2>npm-slack</h2>
    <p>Npm-slack is a slack bot that publishes messages whenever matching npm packages are updated or published.</p>
  </a>
</div>
{% endblock %}
