{% extends "base.twig" %}
{% block title %}Résumé{% endblock %}
{% block content %}
<div class="container">
  <header id="resume-header">
    <div id="avatar">
      <img src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240" alt="A headshot of Spencer">
      <h3>Spencer&nbsp;Rinehart</h3>
      <div class="print-only">
        <p>
          Austin, TX<br>
          (757) 630-3572<br>
          anubis@overthemonkey.com
        </p>
        <hr>
      </div>
    </div>
    <div>
      <h1>Résumé</h1>
      <p class="lead">I am a full-stack engineer with over ten years of PHP experience and over five years of Node.js experience.  I have extensive experience with Linux as a development machine and as the base of a production software stack.  Over my career, I have also built the DevOps foundation at multiple companies using Docker, Ansible, Jenkins CI, and Amazon Web Services.  I am passionate about establishing best practices for an engineering team and improving the tooling for developing and delivering software.</p>
    </div>
  </header>

  <div id="resume">
    <div>
      <h2><i class="fa fa-building-o"></i> Work Experience</h2>
      <h3>Twyla</h3>
      <h4>Lead Software Engineer <small>April&nbsp;2018&ndash;Present</small></h4>
      <h4>Software Engineer <small>July&nbsp;2017@ndash;April&nbsp;2018</small></h4>
      <p>I am currently a lead software engineer at Twyla where we are developing a custom e-commerce platform for selling high quality, limited edition artwork prints.  I have helped develop a GraphQL-based stack with Node.js on the backend and React on the frontend.  I lead a small, agile team of engineers and work on the executive team to help set the company-wide product strategy and timeline.</p>
      <h3>FloSports</h3>
      <h4>Software Engineer <small>January&nbsp;2016&ndash;June&nbsp;2017</small></h4>
      <p>I was a software engineer for FloSports and worked on a live-streaming platform for sporting events.  I used my experience with PHP to build a centralized identity API for managing athletes and teams.  Using that framework, I also helped build an event registration system for athletes and teams using Angular 2.  I also built the API platform for the next-generation live-streaming platform using the Serverless framework on AWS Lambda.</p>
      <h3>Help.com</h3>
      <h4>Software Engineer <small>September&nbsp;2014&ndash;January&nbsp;2016</small></h4>
      <p>I was a full-stack software engineer for Help.com where I helped build a live chat application.  I laid the foundation for a Docker-based production deployment system and built some of the core components of Help.com's microservice-based architecture.  I worked extensively on building Node.js microservices and instrumenting them in our frontend Ampersand.js (a Backbone.js derivative) application.</p>
      <h3>Dominion Enterprises&ndash;TraderOnline.com</h3>
      <h4>Web Programmer <small>June&nbsp;2006&ndash;September&nbsp;2014</small></h4>
      <p>I worked at Dominion Enterprises for 8 years on a variety of web applications, APIs, and DevOps/Systems applications.  My primary role was a PHP software engineer with a focus on APIs and core functionality.  I also led projects for release management and server/process automation.  I was the head of a company-wide Open Source committee and a member of the company's Technical Talent Acquisition Group (TTAG).</p>
      
      <p>Some of the key projects that I led include:</p>
      <ul>
      <li>introducing and managing version control systems, unit testing, and automated release processes;</li>
      <li>developing RESTful APIs and converting applications to access it;</li>
      <li>developing an AWS-based automated deployment process utilizing continuous delivery; and</li>
      <li>establishing the company's <a href="https://github.com/dominionenterprises/">open source</a> portfolio, leading up a committee to maintain it, and evangelising OSS to the company as a whole.</li>
      </ul>
      
      <p>The websites I serviced are primarily focused on classified advertising and dealer inventory and recieve thousands of requests per minute.  I gained at-scale experience with PHP, JavaScript, HTML, CSS/Less, Puppet, Chef, Linux, and MongoDB, among other technologies.</p>
    </div>

    <div>
      <h2><i class="fa fa-certificate"></i> Education</h2>
      <h3>Virginia Tech</h3>
      <h4>Computer Science <small>August&nbsp;2003&ndash;May&nbsp;2006</small></h4>
      <p>In three years, I received a B.S. in Computer Science.</p>

      <h2><i class="fa fa-github-alt"></i> Skills</h2>
      <h3>Primary Expertise</h3>
      <ul>
        <li>PHP <small>15+ years</small></li>
        <li>Node.js <small>6+ years</small></li>
        <li>Docker <small>5+ years</small></li>
        <li>Linux <small>15+ years</small></li>
      </ul>

      <h3>Additional Skills</h3>
      <ul>
        <li>HTML/CSS/JS <small>15+ years</small></li>
        <li>AWS <small>5+ years</small></li>
        <li>React <small>1 year</small></li>
        <li>Ansible/Chef <small>3+ years</small></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
