{% extends "base.twig" %}
{% block title %}Résumé{% endblock %}
{% block content %}
<div class="container">
  <header id="resume-header">
    <div id="avatar">
      <img src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240" alt="A headshot of Spencer">
      <h3>Spencer&nbsp;Rinehart</h3>
      <div class="print-only">
        <p>
          Austin, TX<br>
          (757) 630-3572<br>
          anubis@overthemonkey.com
        </p>
        <hr>
      </div>
    </div>
    <div>
      <h1>Résumé</h1>
      <p class="lead">A full-stack software engineer with over fifteen years of engineering experience on various web technologies with a recent focus on Node.js and React. Passionate about DevOps with expertise on building out infrastructure, especially based on Docker and Amazon Web Services. Experienced establishing best practices for engineering teams and improving the tooling for developing and delivering products and platforms. Approaching three years of team management experience working closely with senior management on product roadmap and strategy.</p>
    </div>
  </header>

  <div id="resume">
    <div>
      <h2><i class="fa fa-building-o"></i> Work Experience</h2>
      <h3>KEY Travel Concierge</h3>
      <h4>Director of Engineering <small>February&nbsp;2020&ndash;Present</small></h4>
      <h4>Staff Software Engineer <small>August&nbsp;2018&ndash;January&nbsp;2020</small></h4>
      <p>Currently the Director of Engineering at KEY. Working with a growing team to make unforgettable trips for guests through a user-friendly platform and extensive partner network. Started as an individual contributor and was promoted into a director-level role. Serves as an architect and developer for key pieces of the platform with a focus on reliability and extensibility. Mentors other engineers and fosters growth in the team as a whole. Hires and leads new employees in critical engineering roles for the company. Leads sprint execution and works closely with the product team to prioritize and schedule the feature roadmap.</p>
      <h3>Twyla</h3>
      <h4>Lead Software Engineer <small>April&nbsp;2018&ndash;January&nbsp;2019</small></h4>
      <h4>Software Engineer <small>July&nbsp;2017&ndash;April&nbsp;2018</small></h4>
      <p>Co-led the software engineering team at Twyla, helping develop a custom e-commerce platform for selling high quality, limited-edition art prints. Designed and built the Node.js backend to the primarily GraphQL-based application and assisted with the React.js frontend. Led a small, agile team of engineers and worked on the executive team to help set the company-wide product strategy and timeline.</p>
      <h3>FloSports</h3>
      <h4>Software Engineer <small>January&nbsp;2016&ndash;June&nbsp;2017</small></h4>
      <p>Was a software engineer working on FloSport's live-streaming platform for sporting events. Utilized expertise with PHP to quickly build a centralized identity API for managing athletes and teams. Helped build an event registration system on top of that framework for athletes and teams. Built the APIs for the next-generation live-streaming platform using the Serverless framework on AWS Lambda.</p>
      <h3>Help.com</h3>
      <h4>Software Engineer <small>September&nbsp;2014&ndash;January&nbsp;2016</small></h4>
      <p>Joined as one of the initial employees at Help.com, working as a full-stack software engineer to build a live chat application. Laid the foundation for a Docker-based AWS ECS production system and built many of the core components and APIs of the microservice-based architecture. Worked extensively on building Node.js microservices and instrumenting them in the frontend Ampersand.js application.</p>
      <h3>Dominion Enterprises&ndash;TraderOnline.com</h3>
      <h4>Web Programmer <small>June&nbsp;2006&ndash;September&nbsp;2014</small></h4>
      <p>Worked at Dominion Enterprises for 8 years on a variety of web applications, APIs, and DevOps/Systems applications. Primarily worked as a PHP software engineer with a focus on APIs and core functionality, but also led projects for release management and server/process automation. Served as the head of a company-wide Open Source committee and a member of the company's Technical Talent Acquisition Group.</p>
      
      <p>Some of the key projects led include:</p>
      <ul>
      <li>introducing and managing version control systems, unit testing, and automated release processes;</li>
      <li>developing RESTful APIs and converting applications to access it;</li>
      <li>developing an AWS-based automated deployment process utilizing continuous delivery; and</li>
      <li>establishing the company's <a href="https://github.com/dominionenterprises/">open source</a> portfolio, leading up a committee to maintain it, and evangelising OSS to the company as a whole.</li>
      </ul>
    </div>

    <div>
      <h2><i class="fa fa-certificate"></i> Education</h2>
      <h3>Virginia Tech</h3>
      <h4>Computer Science <small>August&nbsp;2003&ndash;May&nbsp;2006</small></h4>
      <p>Received a B.S. in Computer Science, graduating early after 3 years.</p>

      <h2><i class="fa fa-github-alt"></i> Skills</h2>
      <h3>Primary Expertise</h3>
      <ul>
        <li>Node.js <small>9+ years</small></li>
        <li>PHP <small>15+ years</small></li>
        <li>Docker <small>8+ years</small></li>
        <li>Linux <small>18+ years</small></li>
      </ul>

      <h3>Additional Skills</h3>
      <ul>
        <li>HTML/CSS/JS <small>18+ years</small></li>
        <li>AWS <small>8+ years</small></li>
        <li>React <small>4+ years</small></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
