{% extends "base.twig" %}
{% block title %}Résumé{% endblock %}
{% block content %}
<div class="container">
  <header id="resume-header">
    <div id="avatar">
      <img src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240" alt="A headshot of Spencer">
      <h3>Spencer&nbsp;Rinehart</h3>
      <div class="print-only">
        <p>
          Austin, TX<br>
          (757) 630-3572<br>
          anubis@overthemonkey.com
        </p>
        <hr>
      </div>
    </div>
    <div>
      <h1>Résumé</h1>
      <p class="lead">A full-stack software engineer with over eighteen years of engineering experience on various web technologies, specializing in Node.js, React, and cloud-native architectures. Proven track record of designing scalable, high-performance systems with extensive experience in Docker, AWS, and serverless architectures. Experienced in technical leadership, driving product strategy, and mentoring engineering teams to deliver innovative technical solutions.</p>
    </div>
  </header>

  <div id="resume">
    <div>
      <h2><i class="fa fa-building-o"></i> Work Experience</h2>
      <h3>KEY.co</h3>
      <h4>Principal Software Engineer <small>August&nbsp;2018&ndash;December&nbsp;2024</small></h4>
      <p>Served at a principal Software Engineer level to architect, build, and deliver trip planning applications, home reservation and distribution platforms, and travel services integrations. Throughout this tenure, actively participated in executive management and steering committee meetings to drive company strategy and address critical issues. Served as the primary architect and one of a small team of developers for key pieces of the platform, focusing on reliability and extensibility. Spearheaded the company's generative AI initiative, identifying strategic use cases across engineering and business functions while developing a resilient billing API using TypeScript, PostgreSQL, and GraphQL. Mentored other engineers across security, performance, code quality and DevOps.</p>
      <h3>Twyla</h3>
      <h4>Lead Software Engineer <small>April&nbsp;2018&ndash;January&nbsp;2019</small></h4>
      <h4>Software Engineer <small>July&nbsp;2017&ndash;April&nbsp;2018</small></h4>
      <p>Co-led the software engineering team at Twyla, helping to develop a custom e-commerce platform for selling high-quality, limited-edition art prints. Designed and built the Node.js backend to the primarily GraphQL-based application and assisted with the React.js frontend. Worked closely with the executive team to help set the company-wide product strategy and timeline, emphasizing collaborative leadership and technical innovation.</p>
      <h3>FloSports</h3>
      <h4>Software Engineer <small>January&nbsp;2016&ndash;June&nbsp;2017</small></h4>
      <p>Developed key components of a live-streaming platform and utilized expertise with PHP to quickly build a centralized identity API for managing athletes and teams. Implemented an event registration system and built the APIs for the next-generation live-streaming platform using the Serverless framework on AWS Lambda.</p>
      <h3>Help.com</h3>
      <h4>Software Engineer <small>September&nbsp;2014&ndash;January&nbsp;2016</small></h4>
      <p>Joined as one of the initial employees, working as a full-stack software engineer to build a live chat application. Architected and delivered a Docker-based AWS ECS production system with microservices architecture. Developed core components and APIs using Node.js, focusing on creating scalable and efficient service integrations. Implemented comprehensive microservice strategies to clearly delineate discrete data models.</p>
      <h3>Dominion Enterprises&ndash;TraderOnline.com</h3>
      <h4>Web Programmer <small>June&nbsp;2006&ndash;September&nbsp;2014</small></h4>
      <p>Pioneered DevOps and systems modernization, introducing version control, CI/CD, AWS, and open-source development practices to the company. Primarily worked as a PHP software engineer with a focus on APIs and core functionality as part of the core API team providing technical direction to broader teams. Led a company-wide Open Source committee and served on the Technical Talent Acquisition Group, driving technological innovation and team development within the company and the broader technological community in the area.</p>
    </div>

    <div>
      <h2><i class="fa fa-certificate"></i> Education</h2>
      <h3>Virginia Tech</h3>
      <h4>Computer Science <small>August&nbsp;2003&ndash;May&nbsp;2006</small></h4>
      <p>Received a B.S. in Computer Science, graduating early after 3 years.</p>

      <h2><i class="fa fa-github-alt"></i> Skills</h2>
      <h3>Primary Expertise</h3>
      <ul>
        <li>Node.js <small>13+ years</small></li>
        <li>PHP <small>15+ years</small></li>
        <li>Docker <small>11+ years</small></li>
        <li>Linux <small>21+ years</small></li>
      </ul>

      <h3>Additional Skills</h3>
      <ul>
        <li>HTML/CSS/JS <small>21+ years</small></li>
        <li>AWS <small>12+ years</small></li>
        <li>React <small>8+ years</small></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
