{% extends "base.twig" %}
{% block title %}Résumé{% endblock %}
{% block content %}
<div class="container">
  <header id="resume-header">
    <div id="avatar">
      <img src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240" alt="A headshot of Spencer">
      <h3>Spencer&nbsp;Rinehart</h3>
    </div>
    <div>
      <h1>Résumé</h1>
      <p class="lead">I am a full-stack engineer with over ten years of PHP experience and over four years of Node.js experience.  I have extensive experience with Linux as a development machine and as the base of a production software stack.  Over the past five years, I have also worked on various DevOps projects gaining experience with Docker, Ansible, Puppet, Chef, Jenkins CI, and Amazon Web Services.  I am passionate about establishing best practices for an engineering team including proper version control usage, open source software, continuous integration, <a href="http://12factor.net/">12-factor architecture</a>, and community development, including hackathons and coding competitions.</p>
    </div>
  </header>

  <div id="resume">
    <div>
      <h2><i class="fa fa-building-o"></i> Work Experience</h2>
      <h3>FloSports&ndash;Events</h3>
      <h4>Software Engineer <small>January&nbsp;2016&ndash;Present</small></h4>
      <p>I am currently a software engineer for FloSports where I work on a live-streaming platform for sporting events.  I am using my experience with PHP to assist with our Symphony-based application and API.</p>
      <h3>Help.com&ndash;Live Chat</h3>
      <h4>Software Engineer <small>September&nbsp;2014&ndash;January&nbsp;2016</small></h4>
      <p>I was a full-stack software engineer for Help.com where I helped build a live chat application. i I laid the foundation for a Docker-based production deployment system and built some of the core components of Help.com's microservice-based architecture.  I worked extensively on building Node.js microservices and instrumenting them in our frontend Ampersand.js (a Backbone.js derivative) application.</p>
      <h3>Dominion Enterprises&ndash;TraderOnline.com</h3>
      <h4>Web Programmer <small>June&nbsp;2006&ndash;September&nbsp;2014</small></h4>
      <p>I worked at Dominion Enterprises for 8 years on a variety of web applications, APIs, and DevOps/Systems applications.  My primary role was a PHP software engineer with a focus on APIs and core functionality.  I also led projects for release management and server/process automation.  I was the head of a company-wide Open Source committee and a member of the company's Technical Talent Acquisition Group (TTAG).</p>
      
      <p>Some of the key projects that I led include:</p>
      <ul>
      <li>introducing and managing version control systems including automated release processes;</li>
      <li>introducing unit testing and test-driven development;</li>
      <li>developing a RESTful API and converting applications to access it;</li>
      <li>developing an AWS cloud-based automated deployment process utilizing continuous delivery; and</li>
      <li>establishing the company's <a href="https://github.com/dominionenterprises/">open source</a> portfolio, leading up a committee to maintain it, and evangelising OSS to the company as a whole.</li>
      </ul>
      
      <p>The websites I serviced are primarily focused on classified advertising and dealer inventory and recieve thousands of requests per minute.  I gained work-related experience with PHP, JavaScript, HTML, CSS/Less, Ruby, Puppet, Chef, Linux, MongoDB, SOLR, and Python, among other technologies.</p>
    </div>

    <div>
      <h2><i class="fa fa-certificate"></i> Education</h2>
      <h3>Virginia Tech</h3>
      <h4>Computer Science <small>August&nbsp;2003&ndash;May&nbsp;2006</small></h4>
      <p>In three years, I received a B.S. in Computer Science.</p>

      <h2><i class="fa fa-github-alt"></i> Skills</h2>
      <h3>Primary Expertise</h3>
      <ul>
        <li>PHP <small>10+ years</small></li>
        <li>Node.js <small>4+ years</small></li>
        <li>Docker <small>3+ years</small></li>
        <li>Linux <small>10+ years</small></li>
      </ul>

      <h3>Additional Skills</h3>
      <ul>
        <li>HTML/CSS/JS <small>10+ years</small></li>
        <li>AWS <small>3+ years</small></li>
        <li>Ansible/Chef/Puppet <small>3+ years</small></li>
        <li>Ruby <small>3 years</small></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
