{% extends "base.twig" %}
{% block title %}Résumé{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-3">
        <div id="avatar">
          <img class="img-thumbnail" src="https://0.gravatar.com/avatar/8432b3700f25faff657aef27a76d4e55?s=240">
          <h3>Spencer Rinehart</h3>
        </div>
      </div>
      <div class="col-sm-9">
        <h1>Résumé</h1>
        <p class="lead">I am a full stack engineer with over ten years of PHP experience.  I have extensive knowledge of Linux as a development machine and the basis of a production software stack.  I've been working on DevOps-related projects for the past five years and I have a strong working knowledge of server automation for a variety of environments including Amazon Web Services.  I have been instrumental in establishing best practices in the workplace: including version control, open source software, continuous integration, and community development, including hackathons and coding competitions.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2><i class="fa fa-building-o"></i> Work Experience</h2>
      <h3>Web Programmer <small>Dominion Enterprises&ndash;TraderOnline.com</small></h3>
      <p>Over my 8 years at Dominion Enterprises, I have worked on a variety of web applications, APIs, and DevOps/Systems applications.  My primary role was as a PHP software engineer with a focus on APIs and core functionality.  My secondary roles included release management and server/process automation.</p>
      
      <p>Some of my key projects that I helped lead while working there were:</p>
      <ul>
      <li>introducing version control to the codebase, coworkers, and release process, and continuing maintenance;</li>
      <li>introducing unit testing and test driven development;</li>
      <li>developing an API to power the applications and assisting with updating applications to use the API; and</li>
      <li>developing an AWS cloud-based automated deployment process utilizing continuous delivery.</li>
      </ul>
      
      <p>The websites I service are primarily focused on classified advertising and dealer inventory and recieve thousands of requests per minute.  I also built up years of experience working with HTML, CSS/Less, JavaScript, Ruby, Puppet, Chef, Linux, MongoDB, SOLR, and Python, among other technologies.</p>
      <dl class="dl-horizontal">
        <dt>Location</dt>
        <dd>Norfolk, Virginia</dd>
        <dt>Time</dt>
        <dd>June&nbsp;2006&ndash;Present</dd>
      </dl>
    </div>

    <div class="col-lg-6">
      <h2><i class="fa fa-certificate"></i> Education</h2>
      <h3>Computer Science <small>Virginia Tech</small></h3>
      <p>In three years, I received a B.S. in Computer Science.  I gained experience in C++, C#, PHP, and in Linux systems.</p>
      <dl class="dl-horizontal">
        <dt>Location</dt>
        <dd>Blacksburg, Virginia</dd>
        <dt>Time</dt>
        <dd>August&nbsp;2003&ndash;May&nbsp;2006</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
