@bootstrap-path: "../../bower_components/bootstrap/less";
@font-awesome-path: "../../bower_components/font-awesome/less";

@import "@{bootstrap-path}/variables";
@import "@{bootstrap-path}/mixins";
@import "@{bootstrap-path}/normalize";
@import "@{bootstrap-path}/scaffolding";
@import "@{bootstrap-path}/type";
@import "@{bootstrap-path}/code";
@import "@{bootstrap-path}/grid";
@import "@{bootstrap-path}/forms";
@import "@{bootstrap-path}/navs";
@import "@{bootstrap-path}/navbar";
@import "@{bootstrap-path}/jumbotron";
@import "@{bootstrap-path}/thumbnails";
@import "@{bootstrap-path}/alerts";
@import "@{bootstrap-path}/utilities";

@import "@{font-awesome-path}/variables";
@import "@{font-awesome-path}/mixins";
@import "@{font-awesome-path}/path";
@import "@{font-awesome-path}/core";
@import "@{font-awesome-path}/icons";

@navbar-default-bg: @body-bg;
@navbar-default-border: @body-bg;

@jumbotron-bg: #208c7d;
@brand-primary: #0a5b50;
@brand-secondary: #ef9e65;
@navbar-default-link-active-color: @brand-primary;
@navbar-default-link-active-bg: @jumbotron-bg;
@thumbnail-bg: @brand-primary;
@thumbnail-border: @brand-primary;
@thumbnail-border-radius: @border-radius-base * 4;

#avatar li a {
  font-size: @font-size-h2;
  color: @brand-primary;
  text-decoration: none;
}

footer {
  background-color: @brand-secondary;
  padding: 10px 0;
}

.jumbotron h1 {
  color: @brand-primary;
  font-variant: small-caps;
  font-weight: bolder;
}

.lead {
  color: @gray-lighter;
  text-shadow: 2px 2px 1px @brand-primary;
}
